*__pycache__
tabascal.egg-info
docs/build
build
examples/data/*
tabascal/examples/data/*
*.DS_Store
*.h5
*.ipynb
*.npy
*.log
*.ipynb_checkpoints
*.tle
*.zarr
*.png
tabascal/optimize/mcmc.py
tabascal/utils/ms.py
tabascal/data/MeerKAT_real.ENU.txt
.coverage