*__pycache__
tabascal.egg-info
docs/build
build
examples/data/*
tabascal/examples/data/*
tabascal/examples/cal_obs/data/
tabascal/analysis/data/
tabascal/analysis/yaml_configs/tests/
tabascal/analysis/yaml_configs/eda2/spacetrack_login.yaml
*.DS_Store
*.h5
*.ipynb
*.npy
*.log
*.ipynb_checkpoints
*.tle
*.zarr
*.png
tabascal/optimize/mcmc.py
tabascal/utils/ms.py
tabascal/data/MeerKAT_real.ENU.txt
.coverage
*.sif
*.json
*.txt
*.gz
*.pb